name: Pusheet Engine Run
on:
  workflow_dispatch:
  push:
    branches:
      - main
  schedule:
    - cron: '0 * * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install requests

      - name: Run Pusheet Bot
        run: python bot.py  # <--- ВОТ ТУТ МЫ ПОМЕНЯЛИ ИМЯ ФАЙЛА

      - name: Push changes
        run: |
          git config --global user.name "PusheetBot"
          git config --global user.email "bot@pusheet.com"
          git add .
          git commit -m "Update site content" || exit 0
          git push
